body,
html {
    height: 100%;
    margin: 0;
    font-family: 'Lora', serif;
    font-family: 'News Cycle', sans-serif;
}

.hero-image {
    margin:0;
    background-image:  url("/images/blur-computer.jpg"), linear-gradient(90deg, rgba(52,51,55,1) 0%, rgba(83,92,97,1) 61%, rgba(91,121,128,1) 100%);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text{
    font-size:40px;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    position: absolute;
    color: white;
    text-shadow: 2px 3px 1px #000; 
    padding-top: 20px;
    position: relative;
    font-weight: bold; 
    
}
.firstname {
    display: inline;
}
.lastname {
    display: inline;
}
nav{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
nav li{
    display:inline;
}
nav a{
    display:inline-block;
    padding:10px;
}
li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #333;
}
li a:hover {
    background-color: #111;
}






